/* CSS Document */
/******************************************************************/
* 
{  
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#333; 
font-weight:bold; 
}
/******************************************************************/
buttonTelecharger
		{
			background: url(../img/icon-cloud.png) ; 
			
			 
			
		}
body
{
    margin: 0px;
    padding: 0px;
    font-weight:bold;
    background-color: #E6E6E6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333;
}
img, div 
{ 
margin:0px;
padding:0px;   
}
h1, h2, h3
{
float:none;
clear:both;
font-weight:bold;
padding:0;
}
h1
{
font-size:24px;
border-bottom:5px solid #c0c0c0;
padding-top:10px;
padding-left:10px;
background-color:#E5E5E5;
color:Black;
}  
h1.fiche
{ 
padding-top:10px;
padding-bottom:10px;
padding-left:52px;
background-image:url(../img/icon5.png);
background-repeat:no-repeat;
}
h1.users
{ 
padding-top:10px;
padding-bottom:10px;
padding-left:52px;
background-image:url(../img/icon6.png);
background-repeat:no-repeat;
}
h1.stats
{ 
padding-top:10px;
padding-bottom:10px;
padding-left:52px;
background-image:url(../img/icon8.png);
background-repeat:no-repeat;
}

h2
{
font-weight:bold;
font-size:14px;
border-bottom:5px solid #989898;
padding:2px;
background-color:#E5E5E5;  
color:Black;
}

h2.alertes
{ 
padding-top:6px;
padding-bottom:6px;
padding-left:25px;
background-image:url(../img/alerte_b.jpg);
background-repeat:no-repeat;
}
h3
{
    font-size: 13px;
    border-bottom: 1px solid #c0c0c0;
    padding: 5px;
    background-color: #F2F2F2;
    background-color: #4D4D4D;
    color: #FFF;
}

h5
{
    font-size: 13px;
    border-bottom: 5px solid;
    padding: 2px;
    background-color: #689FDD;
    color: #000000;
    border-bottom-color: #006699;
}

h6
{
    

border-bottom:5px solid #989898;

background-color:#E5E5E5;  
color:Black;

font-size:13px;

padding:2px;

}
/******************************************************************/

/******************************************************************/
.ReapeaterHeader1
{
    font-weight:bold;
font-size:14px;
border-bottom:5px solid #989898;

background-color:#E5E5E5;  
color:Black;
    
}


.ModalPopupBG
{
    background-color: #808080;
    
}

.HellowWorldPopup
{
    min-width:200px;
    min-height:150px;
    background:white;
}
.header
{

background-repeat:no-repeat;
width:1200px; 
height:111px;
position:relative;
}
.page {
		float:left;
		width: 1200px; 
		background-color:#FFFFFF; 
}
.menu
{
       width:1200px;
    height: 40px;
} 
.content
{
float:left;  
padding:10px;
min-height:400px; 
height:auto !important; 
height:400px;
width:1200px !important;
width:1176px !important; 

}
.content table.listing
{ 
background-color:#F2F2F2;
    height: 593px;
}
.content table.listing tr
{  
}
.content table.listing th
{
	background-color:#28435A;
	color:#FFFFFF;
	font-weight:bold;
	font-size:12px;
	line-height:30px;
	text-align:left;
	padding-left:4px;
	padding-right:4px;
	border-left:1px solid #FFFFFF;  
}
.content table.listing tr.total td
{
	background-color:#CD8A4F;
	color:#FFFFFF;
	font-weight:bold;
	font-size:12px;
	line-height:30px;
	text-align:left;
	padding-left:4px;
	border-left:1px solid #FFFFFF;
	border-top:2px solid #FFFFFF;
	text-align:right; 
}
.content table.listing .vide
{
	background-color:#FFF;
	text-align:center
}
.content table.listing .videNext
{
	background-color:#FFF;
	text-align: right
}

.content table.listing .buttonGroup
{
	background-color:#FFF;
	text-align: center
}


.content table.listing td
{
border-left:1px solid #EAE8E8;
border-bottom:1px solid #c0c0c0;
padding:5px;  
}
.content table.listing tr:hover>td{ 
/*background-color:#c0c0c0; color:#FFFFFF; */
}
.content table.listing tr:hover>td.vide{ 
/*background-color:#F0F0F0; color:#FFFFFF; */
}
.content table.listing .labelfiche
{
	padding-left:20px;
	background-image:url(../img/ico_ok.gif); 
	background-repeat:no-repeat;
	background-position:3px 8px;
}
.footer
{
    font-size:12px;
    float: none;
    clear: both;
    background-color: #CACACA;
    padding: 5px;
    font-weight: bold;
    color: Black;
}
/******************************************************************/
/*- Menu 14--------------------------- */


#menu14 { 
        margin-left: 5px;
		width:160px;
        }
#menu14 ul {
        list-style: none;
        margin: 0;
        padding: 0;
        }

#menu14 li a {
        height: 32px;
          voice-family: "\"}\"";
          voice-family: inherit;
          height: 24px;
        text-decoration: none;
        }

#menu14 li a:link, #menu14 li a:visited {
        color: #333;
        display: block;
        background:  url(../img/menu14.gif);
        padding: 8px 0 0 10px;
        }

#menu14 li a:hover, #menu14 li #current {  
        color: #FFF;
        background:  url(../img/menu14.gif) 0 -32px;
        padding: 8px 0 0 10px;
        } 

#menu14 li #menus {  
        color: #FFF;
        background:  url(../img/menu14.gif) 0 -64px;
        padding: 8px 0 0 10px;
        } 

/*****************************************************************/
input.boton
{
	background-image:url(../img/btn_add-big_bg.gif);
	background-repeat:no-repeat;
	width:120px;
	height:21px;
	text-align:center;
	font-weight:bold;
	font-size:12px;
	color:#004080;
	border:0; margin:5px; 
        }  
input.botonsmall
{
	background-image:url(../img/btn_add-big_bg2.gif);
	background-repeat:no-repeat;
	width:70px;
	height:21px;
	text-align:center;
	font-weight:bold;
	font-size:12px;
	color:#004080;
	border:0; 
        } 
#ajout_client, #ajout_produit, #recherche_user 
{ 
	text-align:center;
	padding:5px; 
	background-color:#F2F2F2;
	border:1px solid #c0c0c0;
	margin-bottom:18px;
        } 
#recherche_fiche span , #recherche_user span, legend
{
	font-weight:bold;
	color:#006FA4;
} 
#recherche_fiche p , #recherche_user p
{
	margin:0px;
} 
table.login
{ 
	margin-bottom:140px;
	margin-top:140px;
	background:#F1F3F5 url(../img/login.png) no-repeat 20px 20px;
	font-weight:bold;
	border:1px solid #c0c0c0;
	padding-left:200px;
	position:relative;
	width:260px; 
        } 
table.login .conect
{
	position:absolute;
	top:116px;
	left:239px; 
        } 
table.login a
{ float:left;
	text-decoration:none;
	color:#999999;
	font-weight:bold; 
        } 
/*****************************************************************/
table.listing tr.etat_nouveau
{ 
background:#FDFAEC; 
} 
table.listing .etat_affecte
{ 
background:#F5EDE6; 
} 
table.listing .etat_fausse 
{ 
background:#E2E4E9; 
} 
table.listing .etat_relance
{ 
background:#DFF2FA; 
} 
table.listing .etat_nrp
{ 
background:#F3F0E9 
} 
table.listing .etat_devis
{ 
background:#E7F4DF 
} 
/*********************************************************************************/

fieldset
{
	font-weight:bold; 
	padding:5px;
	background-color:#F2F2F2;
	width:240px; float:left; margin-right:20px;
} 
legend
{
	font-weight:bold;
	color:#FFF;
	padding:3px;
	background-color:#006FA4;
	margin:0
} 
hr
{
	float:none;
	clear:both;
	border:0;
	height:0;	
} 
div.erreur
{
margin:30px;
padding-left:100px;
border:1px solid #FF0000;
background:#FFCCCC url(../img/alert.png) no-repeat 5% 50%;
	height: 1px;
	width: 553px;
	padding-right: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
} 
div.pagination
{  
padding	:10px;
margin-top:10px;
margin-bottom:10px; 
border:1px solid  #CCCCCC;
background:#f2f2f2;
} 
div.pagination a
{
	text-decoration:none;
	font-size:12px; margin-left:3px; margin-right:3px;
} 
div.pagination a:hover
{ color:#0080C0;
text-decoration:underline
} 
div.filter
{  
padding	:6px; 
margin-top:15px;
float:right
} 

.pagination
{  
padding	:10px;
margin-top:10px;
margin-bottom:10px; 
border:1px solid  #CCCCCC;
background:#f2f2f2;
text-align:center;
} 
.pagination a
{
	text-decoration:none;
	font-size:12px; margin-left:3px; margin-right:3px;
} 
.pagination a:hover
{ color:#0080C0;
text-decoration:underline
}

.modalBackground {
	background-color:Gray;
	
	
}
.modalPopup {
	background-color:#ffffdd;
	border-width:3px;
	border-style:solid;
	border-color:Gray;
	padding:3px;
	width:550px;
	height:500px
}

h4
{
border-bottom:1px solid #DD9745; 
color:#DD9745;
background-color:#F2F2F2;
margin-bottom:20px;
margin-top:20px;
	width: 92px;
}	


/*  style pour l'accordion */
  .accordion {  
            width: 400px;  
  } 
          
        .accordionHeader {  
            border: 1px solid #2F4F4F;  
            color: white;  
            background-color: #4D4D4D;  
           font-family: Arial, Sans-Serif;  
            font-size: 12px;  
            font-weight: bold;  
            padding: 5px;  
            margin-top: 5px;  
            cursor: pointer;  
            font-size: 13px;
    
        } 
          
        .accordionHeaderSelected {  
            border: 1px solid #2F4F4F;  
            color: white;  
            background-color: #4D4D4D;  
            font-family: Arial, Sans-Serif;  
           font-size: 12px;  
            font-weight: bold;  
            padding: 5px;  
            margin-top: 5px;  
            cursor: pointer;  
            font-size: 13px;
        }  
        
        .accordionHeader2 {  
            border: 1px solid #2F4F4F;  
            color: white;  
            background-color: #4D4D4D;  
           font-family: Arial, Sans-Serif;  
            font-size: 12px;  
            font-weight: bold;  
            padding: 5px;  
            margin-top: 5px;  
            cursor: pointer;  
            font-size: 13px;
    
        }  
          
        .accordionHeaderSelected2 {  
            border: 1px solid #2F4F4F;  
            color: white;  
            background-color: #4D4D4D;  
            font-family: Arial, Sans-Serif;  
           font-size: 12px;  
            font-weight: bold;  
            padding: 5px;  
            margin-top: 5px;  
            cursor: pointer;  
            font-size: 13px;
        } 
          
        .accordionContent {  
            background-color: #FFFFFF;  
             
            border-top: none;  
            padding: 5px;  
            padding-top: 10px;  
        }  

		.buttonSearch
		{
			background: url(../img/search.png) no-repeat 5% 50%; 
			font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
			font-size:90%;
			line-height:190%;
			text-decoration:none;
			font-weight:bold;
			color:#565656;
			cursor:pointer;
			padding:5px 10px 6px 7px;

		}
				.buttonNext
		{
			background: url(../img/index.jpg) no-repeat 5% 50%; 
			font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
			font-size:90%;
			line-height:190%;
			text-decoration:none;
			font-weight:bold;
			color:#565656;
			cursor:pointer;
			padding:5px 10px 6px 7px;
			
		}
			.buttonSave
		{
			background: url(../img/Save.png) no-repeat 5% 50%; 
			font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
			font-size:90%;
			line-height:190%;
			text-decoration:none;
			font-weight:bold;
			color:#565656;
			cursor:pointer;
			padding:5px 10px 6px 7px;
			
		}
			.buttonDetail
		{
			background: url(../img/detail.jpg) no-repeat 5% 50%; 
			font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
			font-size:90%;
			line-height:190%;
			text-decoration:none;
			font-weight:bold;
			color:#565656;
			cursor:pointer;
			padding:5px 10px 6px 7px;
			
		}
		
			.buttonTerminer
		{
			background: url(../img/devis.gif) no-repeat 5% 50%; 
			font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
			font-size:90%;
			line-height:190%;
			text-decoration:none;
			font-weight:bold;
			color:#565656;
			cursor:pointer;
			padding:5px 10px 6px 7px;
			
		}
		div.isCouvert
		{
		margin:30px;
		padding-left:100px;
		border:1px solid #FF0000;
			height: 1px;
			width: 553px;
			padding-right: 30px;
			padding-top: 30px;
			padding-bottom: 30px;
} 

	.buttonPrecedant
		{
			background: url(../img/Previous.gif) no-repeat 5% 50%; 
			font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
			font-size:90%;
			line-height:190%;
			text-decoration:none;
			font-weight:bold;
			color:#565656;
			cursor:pointer;
			padding:5px 10px 6px 7px;
		}
		
		div.Rappel
		{
		margin:5px;
		padding-left:100px;
		border:1px solid black;
			height: 3px;
			width: 190px;
			padding-right: 5px;
			padding-top: 5px;
			padding-bottom: 35px;
		}
		div.MontantTotal
		{
			text-align: right;
			
		}	
		.buttonImprimer
		{
			background: url(../img/imprimer.jpg) no-repeat 5% 50%; 
			font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
			font-size:90%;
			line-height:190%;
			text-decoration:none;
			font-weight:bold;
			color:#565656;
			cursor:pointer;
			padding:5px 10px 6px 7px;
			
		}
			.buttonAnnuler
		{
			background: url(../img/annuler.jpg) no-repeat 5% 50%; 
			font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
			font-size:90%;
			line-height:190%;
			text-decoration:none;
			font-weight:bold;
			color:#565656;
			cursor:pointer;
			padding:5px 10px 6px 7px;	
		}
		
					.buttonActualiser
		{
			background: url(../img/relance.gif) no-repeat 5% 50%; 
			font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
			font-size:90%;
			line-height:190%;
			text-decoration:none;
			font-weight:bold;
			color:#565656;
			cursor:pointer;
			padding:5px 10px 6px 7px;	
		}
		.buttonTelecharger
		{
		    
			background: url(../img/icon-cloud.png); 
			cursor:pointer;
			
		}
		
		
		